<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>组件实例属性之state简化版</title>
</head>
<body>
    <!-- 创建容器 -->
    <div id="test"></div>

    <!-- 引入核心库-->
    <script type="text/javascript" src="../../js/react.development.js"></script>
    <!-- 引入react-dom，处理虚拟dom -->
    <script type="text/javascript" src="../../js/react-dom.development.js"></script>
    <!-- 引入babel, 将jsx转为js -->
    <script type="text/javascript" src="../../js/babel.min.js"></script>
    <!-- type为babel -->
    <script type="text/babel">
        //声明组件
        class TrueOrFalse extends React.Component {
            //以类属性形式，初始化状态
            state = {flag: false};
            render(){
                return <h1 onClick={this.testOnClick}>是{this.state.flag ? '真' : '假'}</h1>
            }

            //以赋值语句+箭头函数形式，自定义方法
            testOnClick = () => {
                console.log(this);
                this.setState({flag: !this.state.flag})
            }
        }
        ReactDOM.render(<TrueOrFalse />, document.getElementById('test'));
    </script>
</body>
</html>