<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>函数式组件</title>
</head>
<body>
    <!-- 创建容器 -->
    <div id="test"></div>

    <!-- 引入核心库-->
    <script type="text/javascript" src="../../js/react.development.js"></script>
    <!-- 引入react-dom，处理虚拟dom -->
    <script type="text/javascript" src="../../js/react-dom.development.js"></script>
    <!-- 引入babel, 将jsx转为js -->
    <script type="text/javascript" src="../../js/babel.min.js"></script>
    <!-- type为babel -->
    <script type="text/babel">
        //函数式组件适用于简单组件(无状态)
        //声明组件，首字母必须大写，因为jsx语法中，标签首字母大写，react才会按照组件去处理
        function Demo(){
            console.log(this); //此处的this为undefined, 因为babel编译后开启了严格模式
            return <h1>函数式组件定义</h1>
        }
        //渲染组件到页面，需使用标签形式对函数式组件进行掉用
        /**
         * React解析组件标签<Demo />，得到组件Demo
         * 组件Demo是函数式组件，调用该函数得到虚拟DOM
         * 将虚拟DOM转化为真实DOM并渲染到页面上
         * */
        ReactDOM.render(<Demo />, document.getElementById('test'));
    </script>
</body>
</html>