<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>生命周期</title>
</head>
<body>
    <!-- 创建容器 -->
    <div id="test"></div>

    <!-- 引入核心库-->
    <script type="text/javascript" src="../../js/react.development.js"></script>
    <!-- 引入react-dom，处理虚拟dom -->
    <script type="text/javascript" src="../../js/react-dom.development.js"></script>
    <!-- 引入babel, 将jsx转为js -->
    <script type="text/javascript" src="../../js/babel.min.js"></script>
    <!-- 引入prop-types，对props属性进行限制 -->
    <script type="text/javascript" src="../../js/prop-types.js"></script>
    <!-- type为babel -->
    <script type="text/babel">
        //创建类组件
        /**
         * 生命周期回调函数 <=> 生命周期钩子函数 <=> 生命周期函数 <=> 生命周期钩子
         * 生命周期分为三个阶段：
         * 1. 初始化阶段：由ReactDOM.render()触发 -- 初次渲染
         *    a. constructor()
         *    b0. (新)getDerivedStateFromProps()
         *    b. (旧)componentWillMount()
         *    c. render()
         *    d. componentDidMount()  ----> 常用，一般做些初始化的事情，
         * 
         * 2. 更新阶段：由组件内部的this.setState()或父组件重新render触发
         *    a0. (新)getDerivedStateFromProps()
         *    a. shouldComponentUpdate()
         *    b. (旧)componentWillUpdate()
         *    c. render()
         *    d0. (新)getSnapshotBeforeUpdate()
         *    d. componentDidUpdate()
         * 
         * 3. 卸载阶段：由ReactDOM.unmountComponentAtNode()触发
         *    a. componentWillUnmount() ----> 常用，一般做些收尾工作
         *
         * */
        class LifeCycleDemo extends React.Component {

            //初始化状态state
            state = {opacity:1}

            deleteComponent = () => {
                //ReactDOM.unmountComponentAtNode()，卸载指定容器内的组件
                ReactDOM.unmountComponentAtNode(document.getElementById('test'));
            }

            //组件挂载完毕执行
            componentDidMount(){
                // 绑定定时器到当前组件实例对象上
                this.timer = setInterval(() => {
                    let {opacity} = this.state;
                    opacity -= 0.1;
                    if(opacity <= 0){
                        opacity = 1;
                    }
                    this.setState({opacity: opacity});
                },200);
            }

            //组件卸载前执行
            componentWillUnmount(){
                //清除定时器
                clearInterval(this.timer);
            }

            render(){
                return (
                    <div>
                        <h1 style={{opacity:this.state.opacity}}>变淡</h1>    
                        <button onClick={this.deleteComponent}>删除</button>
                    </div>
                );
            }
        }

        //渲染组件
        ReactDOM.render(<LifeCycleDemo />, document.getElementById('test'));
    </script>
</body>
</html>